.deposit-funds-container .form-group label {
    font-size: 2rem;
    margin-bottom: 0.5rem;
}

.deposit-funds-container .form-group {
    margin-bottom: 1.5rem;
}

.error-msg-group {
    color: rgb(161, 15, 15);
}

.success-msg {
    margin-top: 1.2rem;
    font-size: 16px;
    color: rgb(6, 107, 73);
}